{% extends 'base.html' %}

{% block title %}Quiz List{% endblock %}

{% block content %}
<h2>Available Quizzes</h2>

<ul>
  {% for quiz in quizzes %}
    <li>
      <b>{{ quiz.title }}</b> - {{ quiz.time_limit }} min

      {% if quiz.id in attempted %}
        <span style="color: red;">(Already Attempted)</span>
        <a href="{% url 'quiz_result' quiz.id %}">View Result</a>
      {% else %}
        <a href="{% url 'take_quiz' quiz.id %}">Take Quiz</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<a href="{% url 'dashboard' %}">Back to Dashboard</a>
{% endblock %}